@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuggles&family=Noto+Sans+Old+Hungarian&family=Pixelify+Sans&display=swap');
button{
    width: 150;
    height: 100;
    background-color: black;
    color: aqua;
}
ul{
    width: 100px;
    background-color: antiquewhite;

}
li{
    width: 150px;
    height: 50px;
    color: black;
}
text{
    font-size: 30px;
    line-height: 35px;
}
body{
    font-family: 'Pixelify Sans', cursive;
    font-size: 19px;


}